body {
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20201012/pngtree-white-cloud-on-blue-sky-weather-background-image_410050.jpg);
    background-size: cover
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke ;
  background-image: url("https://media.istockphoto.com/id/1297706369/vector/sun-paint-brush-strokes-on-white-background-vector-illustration.jpg?s=612x612&w=0&k=20&c=BvQi1mWNRrgaEJ5_AhOfs7OuXiCRb91-JJUI93LlAHg=");
  background-position: bottom;
}



.city-name {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temperature {
  display: flex;
  align-items: center;
  font-size: 56px;
  font-weight: 600;
}

.temp-value {
  margin-right: 10px;
}

.temp-unit {
  font-size: 24px;
}

.description {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.humidity,
.wind-speed {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}